html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}
* {
    font-family: Roboto, sans-serif;
}

body, main, #__nuxt,  #__layout, .layout-wrap,.el-main,.content-wrap {
    height:100%;
    min-height: 100vh;
}
footer {
    width: 100%;
    position: absolute;
    height: 100%;
}
body{
    background: $body-bg;
}
button, input {
    border-radius: 0 !important;
}
.free-stat, .free-title {
    text-align:left;
}
.el-main, .el-header, .el-footer {
    padding: 0;
}
.el-menu {
    border-bottom: none !important;
    background: #F2F6FC;
}
#menu {
    box-shadow: 0 4px 12px -3px rgba(0,0,0,0.46);
}
.btn-shadow {
    box-shadow: 0 4px 12px -4px rgba(0,0,0,0.68);
}
.is-always-shadow, .el-tabs--border-card {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.el-card {
    border-radius: 0;
}
.icon-sm {
    width: 15px;
    height: 15px;
}
.icon-help {
    color: $--color-grey-light;
    display: none;
}
.el-tooltip__popper {
    width: 60%;
}
.link {
    color: $--color-blue;
    text-decoration: none;
    &:hover {
        text-decoration:underline;
    }
}
.el-col {
    border-radius: 4px;
}
.el-row {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.vw-btn-separator, .vw-separator {
    display: none;
}
.el-switch__core {
    min-width: 40px;
}
.profile-menu {
    display: block;
}
@media (max-width: 1920px){
    .account-security {
        .col {
            margin-bottom: 20px;
        }
        .account-security-row {
            margin-bottom: 0;
        }
        .el-divider--horizontal {
            margin-bottom: 20px!important;
        }
    }
    .login-history-btn-wrap {
        margin-top: 20px;
    }
    .side-menu-wrap {
        margin-bottom: 30px;
    }
    .basic-info-wrap {
        margin-bottom: 30px;
    }
    .profile-title {
        margin-bottom: 10px!important;
    }
}

@media (max-width: 1700px) {
    .wallets-index-wrap {
        .wallets-tiles {
            display: block;
        }
        .wallets-table {
            display: none;
        }
    }
    .el-card__body {
        height: auto !important;
    }
    .benefits-present, {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .main-page-table-card {
        display: none;
    }
    .card-mobile-proposals {
        display: block!important;
    }
    /*.banner-btn {
        width: 60%!important;
    }*/
    .head-title-block, .head-text-block {
        text-align: center;
        margin-top: 10px;
    }
    .benefits-money {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .benefits-col {
        display: block;
        width: 100%;
        margin-left: 0 !important;
    }
    .profile-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .el-menu-item {
            width: auto;
            padding-left: 5px!important;
        }
        > a{
            width: auto;
            padding-left: 5px!important;
        }
    }
}
@media (max-width: 1540px) {
    .head-title-block {
        font-size: 16px;
    }
    .head-text-block {
        font-size: 13px;
    }
}
@media (max-width: 1400px){
    .friends-index-wrap {
        .partner-img-wrap {
            display: none!important;
        }
        .partner-img-mobile-wrap {
            display: flex!important;
            justify-content: center;
        }
        /*.banner-btn {
            width: 100% !important;
        }*/
        .el-tabs {
            padding-bottom: 20px;
        }
        .dashboard-text-wrap {
            width: 100%;
        }
        .dashboard-btn-wrap {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            > button {
                display: inline-block;
            }
        }
        .title-reff, .partner-text, .dashboard-btn-wrap {
            padding-right: 40px;
        }
    }
}
@media (max-width: 1300px){
    .banner-text-response{
        font-size: 30px;
    }
    .proposal-btn {
        padding: 12px 10px;
    }
}
@media (max-width: 1200px){
    .inner-container {
        padding: 0 30px;
    }
    .join-col {
        height: 90px!important;
    }
    .follow-col {
        height: 90px!important;
    }
    .proposal-btn-wrap {
        padding: 5px 10px 0 10px!important;
    }
    .bg-img-left, .bg-img-right {
        height: 90px!important;
    }
    .advertisement-rules {
        margin: 20px 0 20px 0!important;
    }
    .el-range-separator {
        width: 15%!important;
    }

    .profile-index-wrap {
        .el-select {
            width: 100%;
        }
    }
    .faq-wrap {
        .faq-inner-wrap {
            margin-bottom: 10px;
        }
    }
    .friends-tabs {
        .title {
            margin-bottom: 10px;
        }
        .date-picker-wrap {
            padding-left: 10px;
        }
    }
}

@media (max-width: 1199px) {
    .benefits-wrap {
        display: block;
    }
    .benefits-money, .benefits-present {
        justify-content: center;
        display: flex;
        max-width: none;
    }
    .benefits-col {
        padding-left: 0;
    }
}

@media (max-width: 990px){
    .icon-help {
        color: #909399;
        display: inline-block!important;
        cursor: pointer;
    }
    .form-hits {
        display: none;
    }
    .profile-index-wrap {
        .user-name, .user-email-change, .user-email {
            text-align: left!important;
        }
        .avatar-wrap {
            display: block;
        }
        .user-info-wrap {
            margin-top: 20px;
        }
        a {
            width: auto;
        }
    }
    .friends-index-wrap {
        .second-table {
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 950px){
    .free-stat, .free-title {
        text-align: center;
    }
    .el-form-item__content {
        margin-left: 0!important;
    }
    .el-form-item__label {
        text-align:left;
        float:none;
        line-height: 0;
    }
    .banner-img-wrap {
        display: none;
    }
    .banner-text-wrap {
        width: 100%!important;
    }
    .form-hits {
        margin-top: 2px;
    }
    .el-collapse-item__header {
        line-height: 20px;
    }
    .el-footer {
        margin-top: 40px;
    }
    .create-trade-btn {
        width: 100%;
    }
    .reg-form-wrap, .login-form-wrap {
        margin-top: 0!important;
    }
    .faq-wrap {
        margin-top: 20px!important;
    }
    .el-collapse-item__header, .faq-answer {
        font-size: 12px;
    }
    .profile-index-wrap {
        .el-select {
            width: 100%;
        }
    }
    .banner-img-wrap {
        display: none!important;
    }
}

@media (min-height: 900px){
    .login-wrap {
        min-height: 800px!important;
    }
    .reg-wrap {
        min-height: 800px!important;
    }
}
@media (min-width: 768px){
    .support-outer-wrap {
        padding-top:  100px;
    }
}
@media (max-width: 768px){
    .wallets-index-wrap, .friends-index-wrap {
        margin-top: 0!important;
    }
    .banner-img-wrap {
        display: none;
    }
    .banner-text-wrap {
        width: 100% !important;
    }
    .support-outer-wrap {
        padding-top:  0;
    }
    .benefits-col-wrap {
        margin-bottom: 30px;
    }
    .benefits-flex-disabler {
        display: block !important;
    }
    .banner-img-wrap {
        display: none;
    }
    .free-title {
        text-align: center;
    }
    .free-stat {
        text-align: center;
    }
    .banner-text-response {
        font-size: 20px;
    }
    .card-inputs {
        height: auto !important;
    }
    .quick-buy-table {
        display: block !important;
    }
    .quick-buy-table {
        display: block !important;
    }
    .search-input, .search-btn {
        width: 100% !important;
    }
    .quick-buy-btn-wrap {
        display: flex;
        justify-content: flex-end;
    }
    .nav-link-registration {
        display: block;
    }
    .nav-link-lang {
        display: flex !important;
        border-bottom-color: transparent;
        padding: 20px!important;
        justify-content: space-evenly !important;
    }
    .buyer-row {
        padding-right: 0!important;
    }
    .buyer-name {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .table-title {
        padding-top: 15px!important;
    }
    .table-avatar {
        padding-top: 5px;
    }
    .bg-img-right {
        height: 110px!important;
    }
    .follow-col {
        height: 110px !important;
    }
    .bg-img-left {
        height: 110px!important;
    }
    .join-col {
        height: 110px !important;
    }
    .icon-exchange-wrap {
        padding-top: 50px!important;
    }
    .profile-index-wrap {
        margin-top: 0!important;
        .profile-menu {
            padding-bottom: 10px;
            padding-right: 10px;
        }
        .profile-title {
            font-size: 22px;
        }
        .el-menu-item {
            height: 50px;
        }
    }

    .trade-simple-wrap {
        margin-top: 0!important;
        .trade-simple-mobile {
            display: block!important;
        }
        .trade-simple-desktop {
            display: none!important;
        }
    }
    .el-footer {
        margin-top:10px;
    }
}

@media (min-height: 700px){
    .wallets-index-wrap {
        .form-filters {
            padding-right: 20px!important;
        }
    }
    .reg-wrap {
        height: 450px!important;
    }
    .terms-wrap > .el-form-item__content {
        line-height: 20px;
    }
    .sign_up_info {
        font-size: 12px;
    }
    .el-form-item {
        margin-bottom: 10px!important;
    }
    .sign_up_title {
        margin-bottom: 0!important;
    }
    .reg-form-wrap {
        .el-card__body {
            padding-top: 15px!important;
        }
    }
    .el-form-item__content {
        line-height: 30px!important;
    }
    .reg-checkbox-text {
        line-height: 10px!important;
        font-size: 12px;
    }
    .terms-wrap {
        margin-bottom: 0!important;
    }
}

@media (max-height: 700px){
    .reg-wrap {
        height: 410px!important;
    }
    .terms-wrap > .el-form-item__content {
        line-height: 20px;
    }
    .sign_up_info {
        font-size: 10px;
    }
    .el-form-item {
        margin-bottom: 10px!important;
    }
    .sign_up_title {
        margin-bottom: 0!important;
    }
    .reg-form-wrap {
        .el-card__body {
            padding-top: 15px!important;
            padding-bottom: 5px!important;
        }
    }
    .el-form-item__content {
        line-height: 30px!important;
    }
    .reg-checkbox-text {
        line-height: 10px!important;
        font-size: 10px;
    }
    .terms-wrap {
        margin-bottom: 0!important;
    }
    .sign_up_info {
        margin-bottom: 5px!important;
    }
    .sign_up_title {
        font-size: 14px;
    }
}

@media (max-width: 600px){
    .referrals-input-wrap {
        > button, .el-date-editor {
            margin-top: 10px;
            width: 98%;
        }
    }
    .date-picker-wrap {
        > button, .el-date-editor {
            margin-top: 10px;
            width: 98%;
        }
    }
}

@media (max-width: 470px){
    .wallets-index-wrap {
        .small-buttons-wrap {
            display: none;
        }
        .big-buttons-wrap {
            display: block!important;
        }
    }
    .friends-index-wrap {
        .partner-img-mobile-wrap {
            > img {
                width: 200px;
            }
        }
        .dashboard-btn-wrap {
            > button {
                width: 100%;
            }
        }
    }
}



