@import "icons";
@import 'variables';
@import 'element-ui';
@import "navbar";
@import "helpers";


html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}
body{
    background: #F2F6FC;
}
button, input {
    border-radius: 0 !important;
}
.button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.button--green:hover {
    color: #fff;
    background-color: #3b8070;
}
.free-stat, .free-title {
    text-align:left;
}
.button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
}

.button--grey:hover {
    color: #fff;
    background-color: #35495e;
}

.el-main, .el-header, .el-footer {
    padding: 0;
}
.el-menu {
    border-bottom: none !important;
    background: #F2F6FC;
}
#menu {
    box-shadow: 0px 4px 12px -3px rgba(0,0,0,0.46);
}
.btn-shadow {
    box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.68);
}
.is-always-shadow {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.el-card {
    border-radius: 0;
}
.icon-sm {
    width: 15px;
    height: 15px;
}
.icon-help {
    color: #909399;
    display: none;
}
.el-tooltip__popper {
    width: 60%;
}
.btn-pink {
    background-color: $--color-pink;
    border-color: $--color-pink;
}
.link {
    color: $--color-blue;
    text-decoration: none;
    &:hover {
        text-decoration:underline;
    }
}
@media (max-width: 1920px){
    .icon-exchange-outer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1700px){
    .benefits-col {
        display: block;
        width: 100%;
        margin-left: 0 !important;
    }
    .el-card__body {
        height: auto !important;
    }
    .benefits-present, .benefits-money {
        display: flex;
        justify-content: center;
    }
    .head-title-block, .head-text-block {
        text-align: center;
        margin-top: 10px;
    }
    .main-page-table-card {
        display: none;
    }
    .card-mobile-proposals {
        display: block!important;
    }
    .banner-btn {
        width: 60%!important;
    }
}
@media (max-width: 1400px){
    .banner-btn {
        width: 100% !important;
    }
}
@media (max-width: 1300px){
    .banner-text-response{
        font-size: 30px;
    }
    .proposal-btn {
        padding: 12px 10px;
    }
}
@media (max-width: 1200px){
    .inner-container {
        padding: 0 30px;
    }
    .join-col {
        height: 90px!important;
    }
    .follow-col {
        height: 90px!important;
    }
    .proposal-btn-wrap {
        padding: 5px 10px 0 10px!important;
    }
    .bg-img-left, .bg-img-right {
        height: 90px!important;
    }
    .advertisement-rules {
        margin: 20px 0 20px 0!important;
    }
    .el-range-separator {
        width: 15%!important;
    }
}
@media (max-width: 990px){
    .icon-help {
        color: #909399;
        display: inline-block!important;
        cursor: pointer;
    }
    .form-hits {
        display: none;
    }
}
@media (max-width: 950px){
    .banner-img-wrap {
        display: none;
    }
    .banner-text-wrap {
        width: 100%!important;
    }
    .free-stat, .free-title {
        text-align: center;
    }
    .el-form-item__content {
        margin-left: 0!important;
    }
    .el-form-item__label {
        text-align:left;
        float:none;
        line-height: 0;
    }
    .form-hits {
        margin-top: 2px;
    }
    .box-card-create-trade {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    .el-collapse-item__header {
        line-height: 20px;
    }
    .el-footer {
        margin-top: 40px;
    }
    .create-trade-btn {
        width: 100%;
    }
    .reg-form-wrap, .login-form-wrap {
        margin-top: 0!important;
    }
}
@media (max-width: 768px){
    .benefits-flex-disabler {
        display: block;
    }
    .benefits-col-wrap {
        margin-bottom: 30px;
    }
    .banner-img-wrap {
        display: none;
    }
    .banner-text-wrap {
        width: 100% !important;
    }
    .free-title {
        text-align: center;
    }
    .free-stat {
        text-align: center;
    }
    .banner-btn {
        width: 100% !important;
    }
    .banner-text-response {
        font-size: 20px;
    }
    .card-inputs {
        height: auto !important;
    }
    .quick-buy-table {
        display: block !important;
    }
    .quick-buy-table {
        display: block !important;
    }
    .search-input, .search-btn {
        width: 100% !important;
    }
    .quick-buy-btn-wrap {
        display: flex;
        justify-content: flex-end;
    }
    .nav-link-registration, .nav-link-login {
        display: block;
    }
    .nav-link-lang {
        display: flex !important;
        border-bottom-color: transparent;
        padding: 20px!important;
        justify-content: space-evenly !important;
    }
    .buyer-row {
        padding-right: 0!important;
    }
    .buyer-name {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .table-title {
        padding-top: 15px!important;
    }
    .table-avatar {
        padding-top: 5px;
    }
    .bg-img-right {
        height: 110px!important;
    }
    .follow-col {
        height: 110px !important;
    }
    .bg-img-left {
        height: 110px!important;
    }
    .join-col {
        height: 110px !important;
    }
    .icon-exchange-wrap {
        padding-top: 50px!important;
    }
}


@media (min-height: 900px){
    .login-wrap {
        min-height: 800px!important;
    }
    .reg-wrap {
        min-height: 800px!important;
    }
}

@media (min-height: 700px){
    .reg-wrap {
        height: 700px!important;
    }
}

@media (min-height: 700px){
    .reg-wrap {
        height: 650px!important;
    }
}
