.l-h-20 {
    line-height: 20px;
}
.block {
    display: block;
}
.text-secondary {
    color: $--color-text-secondary;
}
.mb-10 {
    margin-bottom: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-7 {
    margin-top: 7px;
}
.mt-15 {
    margin-top: 15px;
}
/**
Padding
 */
.p15-20px {
    padding: 15px 20px;
}
.p0 {
    padding: 0;
}
.pl0 {
    padding-left: 0;
}
.pt0 {
    padding-top: 0;
}
.pb0 {
    padding-bottom: 0;
}
.pb5px {
    padding-bottom: 5px;
}
.pt5px {
    padding-top: 5px;
}
.pr10px {
    padding-right: 10px;
}
.pr15px {
    padding-right: 15px;
}
.pt20px {
    padding-top: 20px;
}
.pl10px {
    padding-left: 10px;
}
.pt10px {
    padding-top: 10px;
}
.pt15px {
    padding-top: 15px;
}
.pb20px {
    padding-bottom: 20px;
}
.pl20px {
    padding-left: 20px;
}
.pr20px {
    padding-right: 20px;
}
.pt30px {
    padding-top: 30px;
}
.pl30px {
    padding-left: 30px;
}
.pb30px {
    padding-bottom: 30px;
}
.pb80px {
    padding-top: 80px;
}

/**
Margin
 */
.m-auto {
    margin: auto;
}
.mr-auto {
    margin-right: auto;
}
.ml-auto {
    margin-left: auto;
}
.m0 {
    margin: 0;
}
.mb0px {
    margin-bottom: 0;
}
.mr0px {
    margin-right: 0;
}
.ml0px {
    margin-left: 0;
}
.mt0px {
    margin-top: 0;
}
.mb4px {
    margin-bottom: 4px;
}
.ml5px {
    margin-left: 5px;
}
.mt5px {
    margin-top: 5px;
}
.mr5px {
    margin-right: 5px;
}
.mb5px {
    margin-bottom: 5px;
}
.mt7px {
    margin-top: 7px;
}
.mr10px {
    margin-right: 10px;
}
.mt10px {
    margin-top: 10px;
}
.mb10px {
    margin-bottom: 10px;
}
.mb15px {
    margin-bottom: 15px;
}
.mb20px {
    margin-bottom: 20px;
}
.mr20px {
    margin-right: 20px;
}
.mt20px {
    margin-top: 20px;
}
.mt25px {
    margin-top: 25px;
}
.mr25px {
    margin-right: 25px;
}
.mb28px {
    margin-bottom: 28px;
}
.mb30px {
    margin-bottom: 30px;
}
.mt30px {
    margin-top: 30px;
}
.mt40px {
    margin-top: 40px;
}
.mt50px {
    margin-top: 50px;
}
.mt70px {
    margin-top: 70px;
}
.mt100px {
    margin-top: 100px;
}

/**
Position
 */
.p-relative {
    position: relative;
}
.p-fixed {
    position: fixed;
}

/**
Bottom
 */
.bottom0 {
    bottom: 0;
}

/**
Z-index
 */
.zi2 {
    z-index: 2
}

/**
Right
 */
.r150px {
    right: 150px;
}
.r250px {
    right:250px
}

/**
Display
 */
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-contents {
    display: contents;
}

/**
Justify content
 */
.justify-center {
    justify-content:center;
}
.justify-between {
    justify-content:space-between;
}
.justify-end {
    justify-content:flex-end;
}

/**
Align items
 */
.align-items-center {
    align-items: center;
}
.align-items-flex-end {
    align-items: flex-end;
}

/**
Height
 */
.h-auto {
    height:auto;
}
.h100 {
    height:100%;
}
.h25px {
    height:25px
}
.h40px {
    height:40px
}
.h60px {
    height:60px
}
.h80px {
    height:80px
}
.h95px {
    height:95px
}
.h128px {
    height:128px
}
.h380px {
    height: 380px;
}
.h70vh {
    height:70vh
}
.h90vh {
    height:90vh
}
.h100vh {
    height:100vh
}

/**
Max width
 */
.max-w128px {
    max-width: 128px;
}

/**
Max height
 */
.max-h128px {
    max-height: 128px;
}
.max-h400px {
    max-height: 400px;
}

/**
Width
 */
.w-auto {
    width:auto;
}
.w30 {
    width:30%
}
.w40 {
    width:40%
}
.w70 {
    width:70%
}
.w60 {
    width:60%
}
.w100 {
    width:100%
}
.w25px {
    width:25px
}
.w40px {
    width:40px
}
.w70px {
    width:70px
}
.w100px {
    width:100px
}
.w120px {
    width:120px
}

/**
Background
 */
.bg-primary {
    background: $--bg-primary;
}

/**
Color
 */
.color-white {
    color: $--color-white;
}
.color-black {
    color: $--color-black;
}
.color-primary {
    color: $--color-primary;
}
.color-success {
    color: green;
}
.color-secondary {
    color: $--color-secondary;
}
.color-grey-light {
    color: $--color-grey-light;
}
.color-text-secondary {
    color: $--color-text-secondary;
}
.color-blue-light {
    color: $--color-blue-light;
}
.color-blue {
    color: $--color-blue;
}
.color-green {
    color: $--color-green;
}
.color-default-grey {
    color: $color-default-grey;
}

/*
Font size
 */
.fs11px {
    font-size: 11px;
}
.fs12px {
    font-size: 12px;
}
.fs13px {
    font-size: 13px;
}
.fs14px {
    font-size: 14px;
}
.fs18px {
    font-size: 18px;
}
.fs20px {
    font-size: 20px;
}
.fs22px {
    font-size: 22px;
}
.fs26px {
    font-size: 26px;
}
.fs32px {
    font-size: 32px;
}
.fs40px {
    font-size: 40px;
}

/**
Font style
 */
.style-normal {
    font-style: normal
}
.style-oblique {
    font-style: oblique;
};

/**
Font weight
 */
.fw-normal {
    font-weight: normal;
}
.fw-inherit {
    font-weight: inherit;
}
.fw-bold {
    font-weight: bold;
}
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.fw700 {
    font-weight: 700;
}
.fw800 {
    font-weight: 800;
}

/**
Line height
 */
.lh-normal {
    line-height: normal;
}
.lh1 {
    line-height: 1;
}
.lh10px {
    line-height: 10px;
}
.lh21px {
    line-height: 21px;
}
.lh30px {
    line-height: 30px;
}

/**
Border radius
 */
.radius0 {
    border-radius: 0!important;
}
.radius50px {
    border-radius: 50px
}

/**
Text decoration
 */
.text-decoration-none {
    text-decoration: none;
}
.text-decoration-underline {
    text-decoration: underline;
}

/**
Text align
 */
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}

/**
Outline
 */
.outline-none {
    outline: none
}

/**
Overflow
 */
.overflow-auto {
    overflow:auto;
}

/**
White space
 */
.white-space-nowrap {
    white-space: nowrap;
}

/**
Overflow
 */
.overflow-hidden {
    overflow:hidden;
}

/**
Text overflow
 */
.text-overflow-ellipsis {
    text-overflow:ellipsis;
}

/**
Cursor
 */
.pointer {
    cursor: pointer;
}

/**
Border
 */
.border-none {
    border: none;
}
