$--bg-primary:radial-gradient(ellipse at 41.09% 52.83%,#4ea8fe 0,#4ea5fe 8.2%,#4da0fe 24.43%,#4c98fe 40.54%,#4b90fe 56.25%,#4a8afe 71.42%,#497ffe 85.84%,#497dff 98.67%,#4876ff 100%);

$nav-toggle-color: #0E5FC2;
$primary-color: #21CF5F;

/* BreakPoints */

// Mobile devices
$screen-xs-min: 360px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$--color-pink:#ee44aa;
