$--bg-primary:radial-gradient(ellipse at 41.09% 52.83%,#4ea8fe 0,#4ea5fe 8.2%,#4da0fe 24.43%,#4c98fe 40.54%,#4b90fe 56.25%,#4a8afe 71.42%,#497ffe 85.84%,#497dff 98.67%,#4876ff 100%);

$nav-toggle-color: #0E5FC2;
$primary-color: #21CF5F;
$--color-blue: #4875FF;
$--color-blue-light: #2196f3;
$--color-green:#46D09F;
$--color-grey-light:#c5c8d0;
$--color-alert-danger-light:#fef0f0;
$--color-alert-danger-text:#F56C6C;
$--color-alert-success-light:#f0f9eb;
$--color-alert-success-text:#67c23a;

/* BreakPoints */

// Mobile devices
$screen-xs-min: 360px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$--color-pink:#ee44aa;


// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$green-grey: #3b8070;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$color-default-grey: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $color-default-grey;

// Inputs
$input-border: lighten($color-default-grey, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($color-default-grey, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Icons
$dropzone-icon-size:67px;

